include tamplates/layout
.container
  .sections 
    .text
      h1 O nas - Czyli jak to wszystko się zaczęło.
      p Po latach pracy za biurkiem i w handlu zawsze gdzieś z tyłu głowy była myśl, żeby robić coś bardziej nieszablonowego, coś w co będziemy mogli włożyć maksimum naszych umiejętności twórczych i kreatywności.
      p Mieliśmy to szczęście, że pierwsze kroki mogliśmy stawiać pod okiem wybitnych specjalistów u lidera wykończeń w branży hotelowej w Polsce. Tak trafiliśmy na naszą pierwszą poważną budowę, hotel Radisson Sopot.
      p Upór, systematyczność i wrodzony perfekcjonizm już po kilku tygodniach doprowadził nas do etapu w którym z układania prostych desek przeszliśmy do montażu najtrudniejszych w branży wzorów i kształtek. Poprzez naszą chęć tworzenia, od samego początku kreatywnie podchodziliśmy do rozwiązywania problemów, wypracowując nasze autorskie metody działania.
      p Firma Vinyl Craft zajmuje się profesjonalną i kompleksową obsługą klienta zarówno prywatnego jak i komercyjnego, w zakresie sprzedaży i pełnego wykonawstwa podłóg i tapet winylowych. Wyróżniamy się wieloletnim doświadczeniem, indywidualnym podejściem i solidnością wykonania. Pracujemy na innowacyjnym, najlepszej jakości sprzęcie i sprawdzonych produktach. Zaufało nam nie tylko szerokie grono klientów prywatnych, ale także inwestorzy komercyjni umożliwiając realizację prestiżowych projektów hotelowych.
      p Nasza dewiza to tzw. “Święty spokój”  - wiemy jak dużo zaangażowania i pracy wymaga urządzenie swoich czterech kątów, nieważne czy to przytulna kawalerka czy funkcjonalna i dizajnerska przestrzeń biznesu. Pracę z naszymi klientami opieramy na partnerstwie, już na etapie planowania każdą inwestycję traktujemy indywidualnie.

      h4 Serdecznie zapraszamy do kontaktu
      h3 Wiktoria & Karol
    div.section-image(style='background-image:url("/img/realizacje/full/4. Radisson Blu Hotel Sopot/4.jpeg")')
include includes/footer