include tamplates/layout
.container
  .sections
    .text 
        h1 Oferta
        p Wieloletnie doświadczenie nabyte w hotelarskiej branży wykończeniowej dla światowych sieci hotelowych, w tym między innymi Marriott,     Radisson, Hilton, Royal Tulip i innych, jest gwarancją najwyższych jakości produktowych oraz profesjonalizmu wykonanych usług.
      
        p Jako partner handlowy największego na świecie producenta paneli winylowych firmy IVC Commercial/ Moduleo z siedzibą w Belgii, możemy Państwu zaoferować sprzedaż oraz kompleksową obsługę instalacyjną n/w kolekcji:
    
        ul
            li - IVC Commercial 40
            li - IVC Commercial 55 Wood
            li - IVC Commercial 55 Tiles
            li - IVC Commercial 55 Impressive/ Expressive
            li - IVC Commercial Herringbone
            li - IVC Commercial Moods

        p Oferujemy konsultacje produktowe, kompleksowy pomiar, dostosowanie rozwiązań produktowych firmy MAPEI do wszystkich zagadnień technicznych, które zastaniemy na budowie.
    div.section-image(style='background-image:url("../img/realizacje/full/4. Radisson Blu Hotel Sopot/2.jpeg")')
include includes/footer