.main-nav {
  width: 100%;
  height: 10vh;
  
  background-color: #121d1f;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0 5vw;
}

.main-nav-menu{
  float: right;
  display: flex;
  height: 10vh;
  justify-content: center;
}

.main-nav-element {
  font-size: x-large;
  color: #fafbfbeb;
  height: 100%;
  display: flex;
    align-items: center;
    padding: 0 10px;
}

.main-nav-element:hover {
  font-size: x-large;
  color: #fafbfb;
}


.logo {
  background-color: #121d1f;
  float: left;
  height: 80%;
  margin-left: 0.5vh;
}

.topnav {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  color: white;
  background-color: #121d1f;
}

.main-nav-element a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #b08c68;
  transition: width 0.3s;
}
.main-nav-element a:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.logo > img {
  height: 100%;
  max-width: 100%;
}

.contact-number {
  margin: 0 30px;
  display: flex;
  align-items: center;
}

.phon-icon {
  margin-right: 10px;
  width: 40px;
}

.hamburger {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  display: none;
  border: none;
  padding: 0;
  margin: 0;
}

.mobile-nav {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  background-color: #121d1f;
  width: 100%;
  transition: all ease 500ms;
}

.hamburger-icon {
  width: 60px;
}

.mobile-nav img {
  height: 80px;
  max-width: 100%;
}

#sidebar-menu {
  text-transform: uppercase;
  z-index: 10;
  position: fixed;
  transform: translateX(-100%);
  top: 0;
  width: 200px;
  height: 100%;
  background-color: #121d1f;
  transition: ease all 0.5s;
  padding: 0px 10px;
  box-sizing: border-box;
}

.nav-contact {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 25px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s, height 0.5s;
  overflow: hidden;
  background: black;
  z-index: 5;
}

@media screen and (max-width: 750px) {
  #sidebar-menu {
    display: flex;
    flex-direction: column;
  }

  .logo {
    margin: 10px auto;
    height: auto;
  }

  .topnav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .hamburger {
    display: block;
  }
  .main-nav {
    display: none;

  }
  .container{
    margin:10vh 0;
  }
  .menuItem{
    padding:5px 0;
  }
  .mobile-nav {
    visibility: visible;
    z-index: 10;
  }

  .sections {
    margin-top: 100px;
  }
}
