doctype html
html(lang="pl")
    head
      title= "vinylcraft.pl"
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv='X-UA-Compatible' content='ie=edge')
      
      link(rel="preconnect" href="https://fonts.googleapis.com")
      link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet")
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.core.css" integrity="sha512-ShLuspGzRsTiMlQ2Rg0e+atjy/gVQr3oYKnKmQkHQ6sxcnDAEOtOaPz2rRmeygV2CtnwUawDyHkGgH4zUbP3Hw==" crossorigin="anonymous" referrerpolicy="no-referrer")
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.theme.css" integrity="sha512-Cn5/xnOLSKjVpNCsJZCtgQhxp00FcFnlRwgbSG7WGFq1BVvyG+LoOarjXAq//8Vstyu0Na9wvEKLWR67/wAy3w==" crossorigin="anonymous" referrerpolicy="no-referrer")
      script(src="https://cdn.jsdelivr.net/npm/@glidejs/glide")
      link(rel='stylesheet' type="text/css" href='/css/index.css')
      link(rel='stylesheet' type="text/css" href='/css/style.css')
      link(rel='stylesheet' type="text/css" href='/css/carousel.css')
      link(rel='stylesheet' type="text/css" href='/css/nav-style.css')
      link(rel='stylesheet' type="text/css" href='/css/contact-style.css')

    body
      block nav
        include ../includes/nav 

      
          